body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    
}

#contenu{
    background-color: whitesmoke;
    margin: 100px 500px 0px;
    text-align: center;
    display: flex;
    order-radius: 20px;
    height: 800px;
    border-color: aliceblue;
    width: 700px;
}

#Nean{
    background-color: yellow;
    padding: 0px 6px;
}

#div1{
    background-color: rgb(74, 90, 105);
    color: white;
    width: 200px;
    
}

#div2{
    ackground-color: rgba(240, 248, 255, 0.534);
    argin: 0px 150px;
    padding: 20px;
    color: black;
    text-align: left;
}

.color{
    color: rgb(11, 20, 17);
    font-weight: 200px;
    font-size: 30px;
}

.span1{
    text-decoration: underline;
    font-size: 20px;
}