body{
    font-family: Helvetica ,Helvetica Neue;
    background-color: black;
    
}

#contenu{
    background-color: rgba(245, 245, 245, 0.954);
    margin: auto;
    text-align: center;
    display: flex;
    order-radius: 20px;
    height: 800px;
    border-color: aliceblue;
    width: 700px;
}

#Nean{
    background-color: yellow;
    padding: 0px 6px;
    color: yellow;
}

#div1{
    background-color: rgb(29, 39, 49);
    color: rgba(255, 251, 251, 0.97);
    width: 250px;
    
}

#div2{
    padding: 20px;
    color: black;
    text-align: left;
}

.color{
    color: black;
    font-weight: 200px;
    font-size: 30px;
    text-decoration: underline;
}

.span1{
    text-decoration: underline;
    font-size: 20px;
}

#p-profil{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding-left: 4px;
}

.p2-3-4{
    text-align: left;
    padding-left: 20px;
}

a:link {
    color: rgb(8, 240, 12);
  }

h1{
    font-size: 40px;
}

h2{
    text-decoration: underline;
}

li{
    text-align: center;
}

.span-div2{
    padding-left: 150px;
    color: rgb(4, 26, 5);
    text-decoration: underline;
    font-size: large;
}